@import '../../../styles/utils';

.page-template {
  main {
    // background: $oc-gray-1;
<<<<<<< HEAD
    background: #ffffff; //rgba($oc-white-9, 0.05);

=======
    background:#ffffff;
>>>>>>> DetailPage
    min-height: calc(100vh - 15rem);
  }
}
