@import '../../../styles/utils';

.comment-item{
  width:80%;
  .comment-header{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .comment-body{
    color:$oc-gray-7;
    margin-left: 0.8rem;
    font-size: 0.9rem;
  }
  .comment-date{
    color:$oc-gray-5;
    font-size: 0.8rem;
  }
  h5{
    margin:0px;
    padding:0px;
  }
}